<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="pages show">
  <h2>Show page</h2>
  <table>
    <tr>
      <th>Name</th>
      <td><%= @page.name %></td>
    </tr>
    <tr>
      <th>Permalink</th>
      <td><%= @page.permalink %></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= @page.visible %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @page.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @page.updated_at %></td>
    </tr>
  </table>

</div>